@page
<h1> About </h1>

<h2>Hello 👋🏽</h2>
<p>
    Hello there! I'm an enthusiastic undergraduate currently pursuing a BSc in IT at Rajarata University in Sri Lanka. My academic journey has ignited a strong passion for delving into the world of software engineering, where I'm constantly intrigued by the intricate complexities of coding and creating innovative solutions. Beyond the realm of technology, I find joy in the world of sports, particularly on the basketball and badminton courts. These sports not only keep me active but also teach me valuable lessons in teamwork and perseverance. As I continue to embrace the opportunities that come my way, I'm excited to merge my love for technology with my sporting spirit, creating a unique blend that defines who I am.
</p>

<p>@DateTime.Now</p>