@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello 👋🏽 Welcome</h1>

    <p> This is My First Web App developed by me using ASP.NET core for the Activity 1.1 on Phase 02</p>


    <p>I'm Yohan Perera.</p>
</div>
